{% extends 'base.html' %} {% block content %}
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <div class="container">
    <h1>The data to your crop is:</h1>
    {{df_html | safe}}


<br><br><h3>Clear Session Data</h3>
    <p>Click the button below to clear your session data:</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="clear_session">Clear Session Data</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    </div>
</body>
</html>
<style>
    .container {
        display: flex;
        flex-direction: column; /* Set flex direction to column */
        justify-content: center;
        align-items: center;
        height: 75vh; /* Optional: If you want the container to take the full height of the viewport */
    }

    /* Optional: Add styling to the items if needed */
    .container div {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
    }
</style>
{% endblock %}