{% extends 'base.html' %} {% block content %}
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Agri Website</title>
</head>
<body>
    <div class="container">
    <h1>Welcome to Smart Agri</h1>
    <hr>

<a href="{% url 'Welcome' %}" ><h1> Find suitable crop and fertilizer</h1></a>
<!-- <a href="{% url 'Res' %}" ><h1>Current Crop Yield</h1></a> -->
<!-- <a href="{% url 'AltC' %}" ><h1>Crop Data</h1></a> -->
</div>
</body>
</html>
<style>
    .container {
        display: flex;
        flex-direction: column; /* Set flex direction to column */
        justify-content: center;
        align-items: center;
        height: 75vh; /* Optional: If you want the container to take the full height of the viewport */
    }

    /* Optional: Add styling to the items if needed */
    .container div {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
    }
</style>
{% endblock %}

