{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" >
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>
    <title>Index</title>
    <style>
        /* header li a{
            background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        } */
    </style>
</head>
<body>
    <div class="main">
        <header>
            <div class="logo">
               
            </div>
            <nav>
                <ul class="menu">
                    <li class="active"><a href="{% url 'Wel' %}">Home</a></li>
                    <li><a href="{% url 'Welcome' %}">Crop and Fertilizer</a></li>
                    <li><a href="{% url 'MP' %}">Market Price</a></li>
                    <li><a href="{% url 'NPK' %}">Soil Testing</a></li>
                  <!-- <li><a href="{% url 'About' %}">About Us</a></li>--> 
    
                </ul>
                <i class="fa-solid fa-bars" id="toggle"></i>
            </nav>
        </header>
        <section class="home">
            <div class="home-content" >
                <h1 style="color: rgb(179, 212, 213);" >Predict the Crop</h1>
                <p>We have trained an AI and ML model which would help you to predict which crop to cultivate and what fertilizer to use. so what are you waiting for lets...</p>
                <button ><a href="{% url 'Welcome' %}">Predict Crop and Fertilizer</a></button>
                <button ><a href="{% url 'MP' %}">Check Market Price</a></button>
                <button ><a href="{% url 'NPK' %}">Test Your Soil</a></button>
            </div>
        </section>
    
    </div>
    
    <script>

        
        // gsap.from('.img-1', 1.2, {opacity:0, y:-150, delay:0.5})  
        // gsap.from('.img-1', 1.2, {opacity:0, y:-150, delay:0.5})  
        gsap.from('h1', 1.2, {opacity:0, y:-80, delay:3.4})  
        gsap.from('p', 1.2, {opacity:0, y:-80, delay:3.8})  
        gsap.from('button', 1.2, {opacity:0, y:-80, delay:4.1})  
    </script>
</body>
</html>
{% endblock %}
