body {
    background: linear-gradient(135deg, #ffffff, #ffffff 50%, #50cc50 50%, #50cc50);
    background-size: 200% 200%;
    animation: gradient-animation 10s infinite alternate;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
